.radio-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -22px;
}
  
.form-check-inline {
    margin-left: 7px;
    margin-right: 7px;
}

.input-field-and-button-container {
    display: flex;
    align-items: stretch;
  }

.button-container {
    display: flex;
    align-items: center;
  }

.add-card-field {
    justify-content: center;
    height: 30px;
    padding: 5px;
    width: 100%;
}
  
.form-control.add-card-field {
    text-align: left;
    width: 100%;
    min-width: 420px;
}

.add-card-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-card-button {
    display: flex;
    justify-content: center;
    max-width: 200px
}

.form-group label {
    font-size: smaller;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}