.decks-header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  left: 8px;
}

.decks-header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.plus-icon {
  position: relative;
  left: 5px;
  top: 50%;
  transform: translateY(-33%);
  cursor: pointer;
}