.footer-intro {
    font-size: small;
}

.footer-link {
    font-size: smaller;
    font-weight: 500;
    text-decoration: underline;
}

.footer {
    padding: 10px;
    bottom: 0;
    display: block;
    justify-content: center;
}