.quantity-input {
    border: none;
    outline: none;
    text-align: center;
    width: 20px;
}

.quantity:hover {
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quantity:hover .quantity-input {
    background-color: #f0f0f0;
}