.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    min-height: 100vh; 
    background-color: #c7ffc4;
    padding: 20px;
    z-index: 9999;
    overflow: auto;
  }

.sidebar a {
  color: black;
}
  
  .tab-bar {
    display: flex;
    flex-direction: column;
  }
  
  .tab-button {
    text-align: center;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
  }

  .active-sidebar-tab, .tab-button.active {
    color: #151515;
    font-size: large;
    text-decoration: underline;
  }